@charset "utf-8";
/*SMALL HEREDADOS*/


  @media screen and (max-width: 640px) {


  .details dd h5 {
    font-weight: bold !important;
  } 
  
  /*Start Defect 535 New style for titulo "Estado de entrega" */
  .Title_Direccion{
    top: -100px;
    margin-left: 16px;
    font-size: 14px !important;
    font-weight: bold;
    position: relative;
  }  
/*End Defect 535 */

  #contenedor-alternativas .caja-alternativa .caja-alternativa-arriba {
  	padding-left: 17px;
  	padding-right: 10px;
  }
  
    html body .mainHeader {
      display: none; }
    html body #mainHeader {
      height: auto; }
    /* RADAR 
    html body #WC_ShipmentDisplay_div_4 > img 
    {
      display: none; 
    }*/

    #ConfirmationWidgetHidden{
      position: initial !important;
    }

    html body .logo_responsive {
      display: block;
      width: 100%; }
    html body #header, html body #mainHeader, html body #logoArea, html body #checkout_crumb, html body #checkout_crumb .crumb, html body #page, html body #main_content_wrapper {
      width: 100%; }
    /* Radar 
    html body .footer_sc {
      width: 100% !important; }
      */
    html body .footer_resp_sup {
      width: 80% !important; }
    html body .footer_security {
      padding: 2% 38%;
      width: 100%; }
    html body .footer_texto {
      line-height: 20px;
      padding: 1% 10%;
      text-align: center;
      width: 100%; }
    html body #logoArea {
      float: none;
      display: block;
      margin: 0 auto;
      width: 176px; }
    html body #Contenedor {
      overflow: hidden; }
      /*MHTN: Ordertracking margin mobile, by rahul.ranjan*/
      html body #Contenedor #page .dijitContentPane {
        width: 100%; 
        /*margin-left: 2px;*/
        /*Prod - Regression Issue*/
        margin-left: 0px;
        /*Prod - Regression Issue*/
        }
      html body #Contenedor #page .dijitContentPane.pad-10 {
        position:relative;
        height:350px; 
      }

      html body #Contenedor #page .dijitContentPane.pad-10 {
        position:relative;
        height:350px; 
      }
      html body #Contenedor #page .dijitContentPane.pad-10 .credito{
        position: absolute;
        top: 228px;
      }
      html body #Contenedor #page .dijitContentPane.pad-10 .cencosud{
        position: absolute;
        top: 0px;
      }
      html body #Contenedor #page .dijitContentPane.pad-10 .visa{
         position: absolute;
         top: 120px;
      }

        html body #Contenedor #page .dijitContentPane #content_wrapper {
          width: 100%; }
      html body #Contenedor #promodescr_tooltip {
        width: 100%; }
      html body #Contenedor .body #total_breakdown {
        width: 100%;
        float:left;
        margin: 0;
        background-color:#eaf3f9;
         }

      /* Agrega Radar */
      html body #Contenedor #box .main_header{
        min-height: 0;
      }
         
      html body #Contenedor #box .main_header_text,html body #Contenedor .content_header .main_header_text {
        white-space: normal; 
      }
    /* MHTN: Modal "direccion" made by Felipe Ojeda */
      html body #Contenedor #box .main_header_text{
        margin:-70px 0 ;
        background-color: #eaf3f9;/* Agrega Radar */  
      }
      html body #Contenedor .payment-method {
        margin: 0;
        padding: 0; }
    html body #factura {         
      width: 100%;
      display: block;
      margin: 0 auto; }
    html body #EmpresaContainer {
      left: 0 !important;
      width: auto;
      float: left;
      z-index: 9999; }
      html body #EmpresaContainer #facturaForm {
        width: 100%;
        float: left; }
    html body #invoice_modal {
      width: auto;
      float: left;
      background-color: #fff;
      padding: 9px; }
      html body #invoice_modal h1 {
        padding: 10px 15px;
        margin: 0; }  	 
  /* MHTN: Modal "direccion modal" made by Felipe Ojeda */
    html body .dijitContentPane {
      width: 100%;
      float: left;
      margin-top:-30px;
    }
    html body #invoice_modal .styled_select_long {
      width: 98%;
      margin: 15px 0; }
    html body .footer_resp {
      z-index: 4; }
    html body #GiftCardWidgetHidden, html body #EmpresaWidgetHidden, html body #NoviosWidgetHidden, html body #NuevaDireccionWidgetHidden, html body #ClientLoginWidgetHidden {
      width: 100%; }
    html body #invoice_modal .field {
      width: 46%;
      padding: 2% 0%;
      float: left; }
    html body #factura .field.direccion {
      width: 100%; }
    html body #factura .field.direccion > input, html body #invoice_modal .field input {
      width: 100%; }
    html body #invoice_modal #stateDiv > select, html body #invoice_modal #communesDiv > select {
      width: 100% !important; }
    html body #invoice_modal .styled_select {
      width: 100%; }
    html body #invoice_modal .styled_select_long > select {
      width: 100%; }
    /* Radar cambio de font-size y agrega font-weight*/
    html body .button-wrapper-radius {
      width: 80%;
      margin-left: 10%;
      margin-top: -5px !important;
      font-size: 16px;
      font-weight: bold;
      float: left;
      padding: 18px 15px;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1da0e0), color-stop(1, #1ca1e1)) !important;
      background-image: -o-linear-gradient(bottom, #1da0e0 0%, #1ca1e1 100%) !important;
      background-image: -moz-linear-gradient(bottom, #1da0e0 0%, #1ca1e1 100%) !important;
      background-image: -webkit-linear-gradient(bottom, #1da0e0 0%, #1ca1e1 100%) !important;
      background-image: -ms-linear-gradient(bottom, #1da0e0 0%, #1ca1e1 100%) !important;
      background-image: linear-gradient(to bottom, #1da0e0 0%, #1ca1e1 100%) !important;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2',GradientType=0 ) !important; }
    html body #GC_Balance_Apply .button-wrapper-radius, html body .button_container {
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1da0e0), color-stop(1, #1ca1e1)) !important;
      background-image: -o-linear-gradient(bottom, #1da0e0 0%, #1ca1e1 100%) !important;
      background-image: -moz-linear-gradient(bottom, #1da0e0 0%, #1ca1e1 100%) !important;
      background-image: -webkit-linear-gradient(bottom, #1da0e0 0%, #1ca1e1 100%) !important;
      background-image: -ms-linear-gradient(bottom, #1da0e0 0%, #1ca1e1 100%) !important;
      background-image: linear-gradient(to bottom, #1da0e0 0%, #1ca1e1 100%) !important;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2',GradientType=0 ) !important; }
    html body #novios_Target span.button_container {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0;
      float: left;
      height: 35px;
      padding-top: 7px;
      width: 100%;
      margin: 0; }
    html body span.primary_button {
      margin: 0 !important;
      position: relative;
      width: 48%; }
    html body #WC_ShipmentDisplay_div_30 span.primary_button {
      margin: 0 !important;
      position: relative;
      width: 100%; }
    html body #giftCard_Target, html body #novios_Target {
      display: block !important;
      height: 0 !important;
      overflow: hidden;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    html body #giftCard_Target.openAcordion, html body #novios_Target.openAcordion {
      display: block !important;
      height: auto !important;
      overflow: hidden;
      min-height: 135px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    html body #giftCard_Target .inputleft, html body #novios_Target .inputleft {
      width: 100%; }
    html body #giftCard_Target #GC_Balance_Apply {
      float: left;
      width: 48%; }
    html body #giftCard_Target input, html body #novios_Target input {
      width: 100%;
      padding: 5px;
      height: 35px; }
    html body #novios_Target input {
      width: 95%; }
    html body #novios_inOut.activoboton, html body #giftCard_inOut.activoboton {
      background-color: #EBF4FB; }
    html body #NoviosContainer {
      width: 100%;
      height: auto;
      padding-bottom: 20px; }
      html body #NoviosContainer #novios_modal {
        width: 100%;
        height: auto; }
        html body #NoviosContainer #novios_modal .registry_input {
          width: 100%;
          margin: 10px 0; }
          html body #NoviosContainer #novios_modal .registry_input input {
            width: 100%;
            margin: 0; }
        html body #NoviosContainer #novios_modal .section {
          width: 100%; }
          html body #NoviosContainer #novios_modal .section #novios_results_area {
            width: 100%; } 


         /* Radar Agrega */
          html body #Contenedor #box .checkout_subheading .main_header_text{
            font-weight: normal;
            color: #000;
            font-size: 14px;
          }
          html body #Contenedor #box .checkout_subheading .main_header_text .w-botton{
            float: left;
            width: 90%;
          }

          #discounts_link{
            font-weight: bold;
          }

          .payment-method .column > div {                      
            width: 120%;
          }

          .btn-pagar{
              padding-left: 5%;
              width: 95%;
          }

          .footer_sc .celeste {
             color: #2d9ee4;
          }

          .icono-pregunta {
              float: right;
              margin-left: 3%;
          }
          .pad-10 {
            padding-left: 10%;
          }

          /*#GiftcardAccordion*/
          #GiftcardAccordion{
              overflow:hidden;
              width:100%;
              float:left;
              height:0;
              -webkit-transition: all 0.3s ease;
              -moz-transition: all 0.3s ease;
              -ms-transition: all 0.3s ease;
              transition: all 0.3s ease; 
          }

          #GiftcardAccordion.displayMenu{
              height:80px;
              -webkit-transition: all 0.3s ease;
              -moz-transition: all 0.3s ease;
              -ms-transition: all 0.3s ease;
              transition: all 0.3s ease; 
          }
          #errorGiftCard{
            height:80px;
            min-height:0;
            border-bottom: 5px solid #EBF4FB;
          }
          #errorGiftCard h4{
            font-size:15px;
            font-style:normal;
            float:left;
            font-weight: normal;
          }
          #errorGiftCard img{
            float:left;
            margin-right:10px;
          }
          html body #infoDescuentos.white-popup{
            border-bottom:4px solid #D5EAF3;
            border-right:4px solid #D5EAF3;
            height:auto;
            min-height:0;
          }
         
          html body #infoDescuentos.white-popup #tooltip_popup{
            width:100%;
            height:auto;
            position:static;
            float:left;
          }
          html body #infoDescuentos.white-popup #tooltip_popup .bodyarea{
            font-size:15px;
            border:0;
            box-shadow:           0 0 0 transparent; 
            -moz-box-shadow:      0 0 0 transparent;
            -webkit-box-shadow:   0 0 0 transparent; 
          }

          /*texto-codigo-novios*/
          .texto-codigo-novios{
            display:none;
          }

          /*giftCard_inOut*/
          #giftCard_inOut .minus, #giftCard_inOut .pluss, #novios_inOut .minus, #novios_inOut .pluss{
            float:right;
          }
          #giftCard_inOut .minus, #novios_inOut .minus{
            display:none;
          }

          #novios_inOut.activoboton .minus, #giftCard_inOut.activoboton .minus{
            display:block;
          }

           #novios_inOut.activoboton .pluss, #giftCard_inOut.activoboton .pluss{
            display:none;
          }

          .radioDiv{
            position:relative;
          }
          .RadioPayRemplazo{
            width:20px;
            height:20px;
            top:4px;
            left:-7px;
            z-index:8;
            float:left;
            position:absolute;
            background-image: url('../images/c1.png');
            background-position:0 0;
            background-repeat:no-repeat;
          }
          .RadioPayRemplazo.marcado{
            background-image: url('../images/c1hover.png');
            background-position:0 0;
            background-repeat:no-repeat;
          }

          html body #checkout_crumb .crumb, html body #checkout_crumb .crumb a, html body #checkout_crumb .crumb span {
              font-size:12px;
              height: 0;
          }
          .btnErrorGiftCard {
            display:inline-block;
          }
          /*ESTRUCTURA DESPACHO*/
          html body .button_footer_line .right{
            float:none;
          }
          html body #gift_wrapper{
            height:auto;
            height:0;
            float:left;
            height:auto;
            position:relative;
            overflow:hidden;
            -webkit-transition: all 0.3s ease;
              -moz-transition: all 0.3s ease;
              -ms-transition: all 0.3s ease;
              transition: all 0.3s ease; 
          }

          html body #gift_wrapper.open{
            height:290px; /* Madifica Radar */
            overflow:visible;
            -webkit-transition: all 0.3s ease;
              -moz-transition: all 0.3s ease;
              -ms-transition: all 0.3s ease;
              transition: all 0.3s ease; 
          }
          /*MODUL0 superior*/
           /*MHT: se arregla titulo despacho by Felipe ojeda*/
          html body #contactCardArea, html body #contactToolsArea, html body #contactReferenceArea{
              width:100% !important;
              padding:3% 3% !important;
              float;left;
              margin-top: 55px;
          }
          
          /*html body #contactToolsArea{
          	margin-top: 0px !important;
          }*/
          
          /*Se modifica margen top mobile, Felipe Vidal*/
          /* PAR-989 Start*/
          html body #contactToolsArea{
          	margin-top: 5px !important;
          }
          /* PAR-989 End*/
          html body #contactReferenceArea{
          	margin-top: 0px !important;
          }
          
          #contactCardArea{
          	 margin-top: -40px !important;
          }
          
          /*html body #btnCambiaEdita{
            float:right;
          }*/
          
          /*Modifica Felipe Vidal*/
           /* PAR-989 Start*/
          html body #btnCambiaEdita{
            float:left;
          }
          
          html body #contactToolsArea{
            padding:0% 5% !important;
          }
          /* PAR-989 End*/
          
          #shippingBillingPageNext{
          	margin-top: 5% !important;
          }

          html body #contactToolsArea a{
            font-weight:lighter;
          }

          html body #contactCardArea .bold_name{
            padding:0 0 5px 0;
          }

          html body #contactCardArea .ellipsis{
            padding:0 0 0px 0;
          }
          html body #contactReferenceArea span{
            font-size:13px !important;
            color:#999 !important;
          }
          html body #contactReferenceArea .txtLongInput{
              width:100% !important;
              height:110px;
              padding:3%;
          }
          /*PROGRAMA DESPACHO*/
          html body table#shipping_order_details tbody tr.nested{
              display:none;
          }
          html body .remove_item img{
            display:none;
          }

          html body #shipping_order_details .product{
            width:auto !important;
          }

          html body .dijitDropDownButton{
            width: auto; 
            padding: 0%; 
            background: transparent; 
          }
          /*accordion_head*/
          /*MHT Correccion despacho acordeon: by Felipe ojeda */
          .accordion_head{
              float:left;
              position:relative;
              padding:20px 0;
              width:100%;
              cursor:pointer;
              background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c8c8c8), color-stop(1, #9b9b9b)) !important;
              background-image: -o-linear-gradient(bottom, #c8c8c8 0%, #9b9b9b 100%) !important;
              background-image: -moz-linear-gradient(bottom, #c8c8c8 0%, #9b9b9b 100%) !important;
              background-image: -webkit-linear-gradient(bottom, #c8c8c8 0%, #9b9b9b 100%) !important;
              background-image: -ms-linear-gradient(bottom, #c8c8c8 0%, #9b9b9b 100%) !important;
              background-image: linear-gradient(to bottom, #c8c8c8 0%, #9b9b9b 100%) !important;
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8c8c8', endColorstr='#9b9b9b',GradientType=0 ) !important;
              margin-top: 34px;
          }
          
          #producto-accordeon-1{
          	margin-top: 0px !important;
          }

          .accordion_head h4{
              font-weight:bold;
              text-align: center;
              font-size:14px;
          }

          .accordion_head h4 span{
              color:#fff;
          }
          .accordion_head .no-active,.accordion_head .active{
            position:absolute;
            right:5%;
            top:20px;
            font-size:16px;
          }
          .accordion_head .no-active{
            display:block;
          }
          .accordion_head .active{
            display:none;
          }

          .accordion_head.openHead .no-active{
            display:none;
          }
          .accordion_head.openHead  .active{
            display:block;
          }


          /*product_structure*/
          .productDetail,.details{
            width:100%;
            float:left;
            padding:3% 5%;
          }

          .productDetail a ,.details a{
            color:#09C !important;
            text-decoration:none;
            font-weight:bold;
          }
          .productDetail a.delete{
            color:#666 !important;
            font-size:13px;
          }
          .productDetail .cant input{
              width:30px;
              height:25px;
              border:2px solid #ccc;
              text-align:center;
              margin:0;
              padding:0;
          }
          .text_left{
            margin-bottom:10px;
          }
          .text_left p{
            width:100%;
            float:left;
            font-size:11px;
            margin-top:3px; /* Agrega Radar */
          }
           p.priceProduct span{
            width:100%;
            float:left;
            margin-top:5px;
          }
          .tarjeta{
            color:#d90000;
          }
          .productDetail a:hover ,.details a:hover{
            text-decoration:underline;
            
          }
          .productDetail h3{
            font-size:14px;
            color:#000;
            padding:0 0 10px;
            float:left;
          }
          
          .details{
            background-color:#eaf3f9;
          }

          .details dl{
            float:left;
            width:100%;
            margin:0 0 5px 0;
            padding:0;
          }

          .details dt{
            float:left;
            width:50%;
            margin:0;
            padding:0;
            text-transform:uppercase;
            font-size:12px;
            font-weight:bold;
            color:#000; /* Agrega Radar */
          }
          .details dd{
            float:left;
            width:50%;
            margin:0;
            padding:0;
            color: #000;
          }
          /*MHTN Defect 532 */
          .textBold{
            font-weight: bold !important;
          }
          /*MHTN Defect 532 */

          /* Agrega Radar */
          
          /*Start- MHTN: 688 Modified styles in fechadeentrega, as per wireframe Mobile:  by rahul*/
          .details dd h5 {
            font-family: sans-serif !important;
            color: #666;
            font-weight: normal;
          }
          
          .responsive-shipped-data-target  {
    	    	color: #666 !important;
    		}
    	 /*MHTN: End 688 by rahul*/

          .images_left{
            width:30%;
          }

          .images_left img{
            width:100%;
          }

          .text_left{
            width:60%;
          }
          #promodescr_tooltip{
            display:none;
          }

          html body .content_footer{
            padding:0;
            display:none;
          }

          html body .content_footer.seen{
            padding:0;
            display:block;
          }

          #total_breakdown, .total_breakdown{
            padding-right:10px;
            margin-bottom:5px;
            float:left;
          }
          .total_breakdown{
            width:100%;
            padding:3%;
            float:left;
            background-color:#eaf3f9;
            margin-top:5px;
          }
          .total_breakdown h3{
            color:#000;
            font-weight:bold;
            font-size:15px;
          }

          #total_breakdown .order_total{
            /* Fix deseno padding-top:0px;*/
                padding-top: 28px;
            /*Req 914 */
            margin-right: -9px;
          }

          html body #gift_purchase_inOut{
              margin-top:5px !important;

          }
          
          /* MHT Fixed dispach text area regalos by felipe ojeda */
          #send_greeting{
          margin-top: -19px;
          }
          #gift_wrap, #send_greeting, #sender{
            width:100%;
            float:left;
          }

          #gift_greeting_text{
            width:100%;
          }

        
          #gift_sender_text{
            width:100%;
          }

          .product_structure{
            height:0 !important;
            overflow:hidden;
          }

          #gift_wrap{
            position:absolute;
            bottom:0;
            padding-bottom:15px;
          }
          #send_greeting{
            position:absolute;
            top:0;
            padding-bottom:0;
          }
          #sender{
            display: none;/* Agrega Radar*/            
            position:absolute;
            top:175px;
            z-index:9;
            padding-bottom:0;
          }
          .product_structure{
            height:0;
            overflow:hidden;
            -webkit-transition: all 0.3s ease;
              -moz-transition: all 0.3s ease;
              -ms-transition: all 0.3s ease;
              transition: all 0.3s ease; 
          }

            .product_structure.open{
            height:auto !important;
            overflow:visible ;
            -webkit-transition: all 0.3s ease;
              -moz-transition: all 0.3s ease;
              -ms-transition: all 0.3s ease;
              transition: all 0.3s ease; 
          }
          .garantia{
            width:90%;
            padding:3%;
            height:100px; /* Modifica Radar */
            margin:15px auto;
            border:2px solid #bcbcbc;
          }
          #cuadroGarantia{
            width:100%;
            float:left;
          }
          html body .btn-opciones, html body #cuadroGarantia input{
            float:right;
            color:#09C !important;
            height:auto;
            margin:0;
            z-index:1;
          }
          html body .btn-opciones{
            margin-top:20px;
            position:relative;
            right:-16px;
          }

          html body #cuadroGarantia .checkCont-opcion{
              width:16px;
              height:16px;
              float:right;
              position:relative;
          }

           html body #cuadroGarantia .checkCont-opcion img{
              top:-2px;
              left:3px;
              position:absolute;
              z-index:3;
              cursor:pointer;
          }

          html body #gift_wrap .checkCont-opcion{
              width:16px;
              height:16px;
              float:left;
              position:relative;
              margin:0 5px;
          }
          html body #gift_wrap .checkCont-opcion img{
              top:-2px;
              left:0px;
              position:absolute;
              z-index:3;
              cursor:pointer;
          }
          .checkeado{
              display:none;
          }
          .no-checkeado{
              display:block;
          }

          .marcado .checkeado{
              display:block;
          }
          .marcado .no-checkeado{
              display:none;
          }



          html body #tooltip_popup .header{
              display: block;
              border:0;
              box-shadow:0 0 0 transparent;
          }

          html body #tooltip_popup .header h4, html body #tooltip_popup .header h3{
              display: block;
              border:0;
              font-size:14px;
              color:#09C !important;
              box-shadow:0 0 0 transparent;
          }

          html body #tooltip_popup{
            width:100% !important;
            padding:10px 0;
           /* border:0; */
            /* Req #914 */
            top: 780px;
            left: 0;
            border: 2px solid #D5EAF3;
          }

          html body #tooltip_popup.white-popup{
              height:auto !important;
              min-height:0 !important;
              border:6px solid #eaf3f9;
          }

          html body #tooltip_popup .bodyarea{
            border:0 !important;
            box-shadow:0 0 0 transparent;
          }
          /**warranty*/
            /*VENTANAS MODALES*/
              html body .WarrantyContainer, html body .Warranty_Wrapper{
                width:100%;
              }
              html body .WarrantyContainer, html body .Warranty_Header{
                background-color:#fff;
                float:left;
                width:100%;
                padding: 10px 0 10px 0;
                border-top: 1px solid #ccc;
                margin-top: 27px;
              }
             html body .Warranty_Header span{
                padding:0;
                width:33.3%;
                text-align: center;
                float:left;
                margin:0;
              }
              html body .dijitTooltipContainer{
                padding:0;
                left:0;
              }
              html body  .WarrantyContainer .section{
                margin:0;
                padding:5px;
                height:auto;
                position:relative;
              }
              html body  .WarrantyContainer .section .radioButton{
                margin:0;
                padding:0;
                position:absolute;
                left:5%;
                top:15%;
              }
             html body  .WarrantyContainer .section label{
                margin:0;
                padding:0;
                width:33.3%;
                float:left;
              }
             html body  .WarrantyContainer .section span{
                margin:0;
                padding:0;
                width:33.3%;
                float:left;
                position:static;
                text-align: center;
                left:0;
                right:0;
              }
              html body  .WarrantyContainer a{
                top:10px;
                left:8%;
              }

              /*.closeModal*/
              html body .closeModal{
                display:none;
              }

              #calendario th,#calendario td{
                width:auto;
                font-size:10px;
              }
              html body table#calendario{
                min-width:100% !important;
                width:100%;
              }
              html body #calendarContainer, html body #calendarContainer2{
                padding:0 !important;
                margin:0 !important;
              }
              /*  TABLA Fechas entregas*/
              #table-calendario, #table-calendario-dos-col{
                width:100%!important;
                float:left;
                border:3px solid #eaf3f9;
              }
              #table-calendario-dos-col{
                  margin-top:10px;
              }

              #table-calendario .header-table dd,#table-calendario .header-table dt, #table-calendario-dos-col ul.header-table li,
              #table-calendario-dos-col ul li.side{
                font-size:12px;
                color:#333;
                min-height:50px;
              }

              #table-calendario dl, #table-calendario-dos-col ul{
                width:100%!important;
                float:left;
                border-bottom:3px solid #eaf3f9;
                margin:0;
                text-align: center; /* Agrega Radar */
              }
              #table-calendario-dos-col ul{
                 padding:0;
              }


              #table-calendario-dos-col li{
                width:33.3%!important;
                min-height:50px;
                float:left;
                padding:2%;
                margin:0;
              }

              #table-calendario dt, #table-calendario-dos-col li{
                border-right:3px solid #eaf3f9;
              }
              #table-calendario-dos-col li:last-child{
                  border:0;
              }

              #table-calendario dd, #table-calendario-dos-col li{
                text-align:center;
                color:#1ca1e1;
              }

              /* Agrega Radar */
              #table-calendario dd.select,#table-calendario-dos-col li.select{
                 background: none repeat scroll 0 0 #eaf3f9;
              }

              #AcceptDateButton .button-wrapper-radius{
                background-image:none !important;
                color:#1ca1e1;
                background-color:transparent;
              }
              #AcceptDateButton .button-wrapper-radius span.button-container{
                color:#1ca1e1 !important;
              }
              .fwdBtn, .backBtn{
                /* Modifica Radar*/
                color:#000;
                font-size: 13px;
                font-weight: bold;
              }
              /*Modal error*/
              #errorsolicitud{
                  border:4px solid #D5EAF3;
                  height:auto;
                  min-height:0;
              }

              #errorsolicitud h3, #errorsolicitud h4{
                  color:#09C !important;
                  font-size:16px;

              }
              #errorsolicitud h4, #errorsolicitud .llama{
                text-align: center;
                font-size:14px;
              }
              #errorsolicitud strong, #errorsolicitud p{
                margin-top:5px;
              }

              #errorsolicitud strong{
                font-weight:bold;
                color:#333;
              }

              /* Agrega RADAR */
              .main_header_text.shipping_header {
                display: none;
              }

              .caja-direccion-boton, .caja-direccion-editar a{
                display:inline-block;
              }

              /* RADAR */
              html body .caja-direccion-editar{
                padding-top:0;
                text-align: left;
              }
              
              /* Agrega RADAR */
              #editLink {
               margin-left: 10%;
              }              
              .caja-direccion-boton {
                  margin-left: 20%;
              }
              .caja-alternativa-abajo{
                margin-top: 50px;
              }
              /* Fin Agrega RADAR */
              

              html body .caja-direccion{
                  height:auto;
              }

              .caja-direccion-boton a:link, .caja-direccion-boton a:visited, .caja-direccion-boton a{
                background-color:#0096D3 !important;
              }
              /*#NuevaDireccionContainer modal*/
              #NuevaDireccionContainer #AddressForm{
                width:100%;
                height:auto;
              }

              #new_address_modal{
                width:100%;
                height:auto;
                padding:0;
                margin: 0;
              }

              #NuevaDireccionContainer, #NuevaDireccion{
                width:100% !important;
                padding:0;
                left: 2% !important;
    			top: 0 !important;
    			height: auto;/*MHTN : CLICK AND COLLECT*/
    			
              }
              
              .headerModal{
                width:100%;
                float:left;
                padding:10px 3%;
                border-bottom:1px solid #0096D3;
                margin-bottom:0px;
              }

              .headerModal.agregar .edita{
                  display:none;
              }

              .headerModal.editar .agrega{
                  display:none;
              }

              .form_2column{
                width:100%;
                padding:0 3% 0;
              }

              .form_2column .column{
                width:100%;
                padding:0;
                margin: 2px 0;
              }
              .form_2column .column.medio-campo{
                width:50%;
                padding:0;
              }
              .form_2column .column.medio-campo .styled_select, .form_2column .column.medio-campo  .short_field{
                width:90% !important;
                height:35px;
                padding:2%;
                border:1px solid #999;
              }
              .form_2column .column.medio-campo.last-field .styled_select, .form_2column .column.medio-campo.last-field .short_field{
                float:right;
              }
              #communesDiv > select{
                width:100%;
              }
              .txtLongInput{
                width:100%;
                height:35px;
                padding:2%;
                border:1px solid #999;
              }
              .txtInput{
                width:100% !important;
                height:35px;
                padding:2%;
                border:1px solid #999;
              }

              .primary_button span.button_container{
                  width:100%;
                  -webkit-border-radius: 0px;
                  -moz-border-radius: 0px;
                  border-radius: 0px;
                  padding:5px ;
                  font-size:14px;
              }

              html body .primary_button.button_fit{
                width:100%;
              }

              .button_items .left{
                  margin:0 0 10px;
                  padding:0;
              }

              #NuevaDireccionContainer .content_footer{
                padding:0 3% !important;
              }

      /******DIRECCION*****/
      #content_wrapper{
          width:100%;
      }
      #contenedor-alternativas{
        width:100%;
      }

      #contenedor-alternativas .caja-alternativa{
        padding:0;
        margin:0 1% 0 1%;
        float:left;
        width:48%;
      }
      #contenedor-alternativas  .caja-alternativa-arriba, #contenedor-alternativas .caja-alternativa-abajo{
        width:100%;
        font-size:14px;
      }
      #contenedor-alternativas .caja-alternativa-arriba {
      	margin-top: 20px;
      }
      #contenedor-alternativas  .caja-alternativa-arriba img{
      	margin-bottom: 7px !important;  
      	margin-top: -32px !important;
      }
      #ddespachoContainer{
        width:100% !important;
      }

      #shipping_address_select, #shipping_address_select tr, #shipping_address_select td{
        width:100%;
        float:left;
      }

      /* Radar */
      #shipping_address_select .caja-direccion {
          float: left;
          margin: 0 0 10px 5px;
          width: 97%;
      }
      #mainContents{
        width:100% !important;
      }
      .caja-alternativa-arriba .novios{
        margin:0 auto !important;
        float:none !important;
        width:60% !important; /* Radar */
        text-align: center !important;

      }
      #contenedor-alternativas .caja-alternativa-abajo a{
        width:70% !important;
        display:block;
        margin:0 auto;
        font-size:12px;
      }
    /* MHT: se arregla alineacion detalle despacho by felipe ojeda */ /*Defect: 600 fixes for mobile*/ 
.caja-direccion-titulo{
margin-top: -1px;

}
/* MHT alineacion mas opciones mobile by felipe ojeda */
.masopciones{
margin-top: -5px;
}


      .caja-direccion-titulo .ellipsis, .caja-direccion-bajada .ellipsis{
          text-align: center;
      }
     html body #unregistered_form .field{
        width:100%;
        margin:0;
        padding:4% 3% 0;
        height:auto;
      }
     html body #unregistered_form .UC_div {
     	margin-top:36px;
     	overflow: inherit;
     }
      html body #unregistered_form .field .label_spacer, html body #unregistered_form .field input {
        width:100% !important;
        float:left;
        margin:0;
      }
      html body #unregistered_form .second, html body #unregistered_form .addressSmall {
      	width:48.3% !important;
      }
      html body #unregistered_form .field .label_spacer{
        font-size:13px;
        color:#666;
        margin:0px 0 2px;
      }
      html body #unregistered_form .field input{
        height:35px;
        padding:0 3%;
      }
      html body #unregistered_form .field .checkbox{
        height:auto;
        padding:0%;
        visibility: hidden;
      }

      html body #unregistered_form .field  .checkbox_label_registration label {
        top: -5px;
        left: 11px;
        position:relative;
      }
      html body #unregistered_form {
        padding:0 3px;
      }
	  #unregistered_form .divHeader {
	  	margin-bottom: -25px;
	  }
	  #unregistered_form .col2_ship h1 {
	  	margin-left: -2px;
	  }
	  #unregistered_form .col2_ship p span {
	  	padding-left: 11px;
    	padding-right: 10px;
	  }
      html body #unregistered_form form{
        width:100%;
        padding:0 !important;
        margin-top: -26px;   
      }
      #unregistered_form .enviar_a {
      	margin-left: 4%;
      }
      #unregistered_form .cont_logo_der {
      	display:none !important;
      }
      #unregistered_form #saveForm {
      	width: 92%;
      	margin: 20px 3%;
      }
      #unregistered_form #misma_direccion, #unregistered_form #encuentralos, #unregistered_form #cambiar_direccion {
	      width: 100%;
	      margin: 2% 0;
	      min-height: 40px;
    	  padding-top: 10px;
    	  font-size: 13px;
      }
      #box .content_footer .unregistered{
        margin:10px 0 0!important;
      }
      #WC_UnregisteredCheckout_div_11_3 {
      	margin-top:25px;
      	float: left;
      }

      #WC_UnregisteredCheckout_div_23 .button-wrapper-radius.medium_smaller{
          width:100% !important;
          padding-top:15px;
          padding-bottom:15px;
          font-size:14px;
          margin-left:0;
      }
      #WC_UnregisteredCheckout_div_23 .btns {
		width:100%;
		display:block;
		margin-top:10px;
	  }

      #unregistered_form .styled_select{
        width:100%;
        margin-bottom:0;
      }
      html body .styled_select select, #stateDiv > select .drop_down_country, .drop_down_communes, .drop_down_state {
		height: 30px;
		padding: 5px 7px;
	  }
      #unregistered_form .field.medio-campo{
          width: 50%;
          margin:0;
          padding:0 3%;
          float:left;
      }
      .unregistered .left {
        float:none;
        padding:0 3%;
      }
	  #unregistered_form .col2_ship h1 {
	  	width:100%;
	  }
	  #WC_UnregisteredCheckout_div_11_3 {
	  	width:100%;
	  }
      .content_footer .left{
          float:none;
      }
      #unregistered_form textarea{
        width:100%;
        padding:2%;
        height:115px;
      }

      html body .col2_ship textarea, html body .col2_ship input, html body  #unregistered_form  .styled_select{
        border:1px solid #999;
      }
      #unregistered_form select{
        width:100% !important;
      }

      html body .styled_select{
        border:1px solid #999;
        width:100%;
        /*padding:0 3%;
        position:absolute;*/
        background-position: 100% center !important;
      }

      html body .styled_select .btn-selected-select{
        position:absolute;
        right:0;
        top:0;
        z-index:7;
        cursor:pointer;
      }
      html body .styled_select select, #stateDiv > select{
        width:100%;
        position:relative;
        z-index:5;
      }

      html body .asociar_disable{
        width:100%;
      }

      html body #novios_modal span.button-wrapper-radius{
        width:100%;
        margin:0;
      } 

      #btnsAcordion{
        width:100%;
        float:left;
        padding:10% 3% 3%;
      }
      #btnsAcordion a{
        width:48%;
        float:left;
        padding:5% 3%;
        color:#fff;
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1da0e0), color-stop(1, #1ca1e1)) !important;
            background-image: -o-linear-gradient(bottom, #1da0e0 0%, #1ca1e1 100%) !important;
            background-image: -moz-linear-gradient(bottom, #1da0e0 0%, #1ca1e1 100%) !important;
            background-image: -webkit-linear-gradient(bottom, #1da0e0 0%, #1ca1e1 100%) !important;
            background-image: -ms-linear-gradient(bottom, #1da0e0 0%, #1ca1e1 100%) !important;
            background-image: linear-gradient(to bottom, #1da0e0 0%, #1ca1e1 100%) !important;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2',GradientType=0 ) !important;
            text-align: center;

      }
      #btnsAcordion a.endless{
        width:48%;
        float:right;
        padding:5% 3%;
        color:#333;
        position:relative;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c8c8c8), color-stop(1, #9b9b9b)) !important;
              background-image: -o-linear-gradient(bottom, #c8c8c8 0%, #9b9b9b 100%) !important;
              background-image: -moz-linear-gradient(bottom, #c8c8c8 0%, #9b9b9b 100%) !important;
              background-image: -webkit-linear-gradient(bottom, #c8c8c8 0%, #9b9b9b 100%) !important;
              background-image: -ms-linear-gradient(bottom, #c8c8c8 0%, #9b9b9b 100%) !important;
              background-image: linear-gradient(to bottom, #c8c8c8 0%, #9b9b9b 100%) !important;
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8c8c8', endColorstr='#9b9b9b',GradientType=0 ) !important;
      }

      #btnsAcordion a.endless small{
          position:absolute;
          top:-32px;
          width:100%;
          text-align: center;
          left:0;
      }


      #contAccordion{
        width:100%;
        height:0;
        overflow:hidden;
      }
      #contAccordion.openAcordion{
        height:auto;
        overflow:hidden;
      }
      html body  .checkCont-opcion{
              width:16px;
              height:16px;
              float:right;
              position:relative;
          }

      html body  .checkCont-opcion img{
              top:-2px;
              left:3px;
              position:absolute;
              z-index:3;
              cursor:pointer;
      }
      /* Agrega Radar */
      #unregistered_form .col2_ship h3{
        display: none; 
      }

      #box .required-label{
         margin-right: 3%;
      }


	#AABF_rightContainer{
		visibility: hidden;
	}
	
	#NuevaDireccionWidgetHidden{
		width: 95% !important;
	}
	
	#linkCloseModal,#linkCloseModal .close{
		display: block !important;
	}
	
	
	#WC_AccountForm_div_9{
		width: 100%;
	}
	
	#buttonRefreshMap2{
		display: none !important;
	}
	
	#buttonAceptarMap2, #address3{
		width: 100% !important;
		height: 44px !important;		
	}
	
	#notaPieMap{
		display: none;
	}
	
	#NuevaDireccionContainer .button_items.buttonMap2{
		margin-top: 0 !important;
    	padding-right: 0 !important;
	}
	
	#my_address_modal h1{
		font-size: 18px;
	    font-weight: normal;
	    padding-left: 10px;
	}

  
  #dijit__MasterTooltip_0{
    left: 0 !important;
  }
  
#dijit__MasterTooltip_0 .dijitTooltipConnector{
    display: none !important;
  }
  
  .cajaConfirmacion {
    height: auto;
    margin-left: 0;
    margin-top: 0;
    left: 0 !important;
    width: 100%;
	}
	
	.cajaConfirmacionTexto{
		width: 70%;
	}
	.confirmConterFooter {
	 	margin-top: 7px;
	}

  #cajaConfirmationTexto2_2{
	
	padding-left: 5%;
	width: 100%;
	}
	
	.confOKButton2_2{
		padding-right: 0 !important;
	}
	
	.button-wrapper-radius.medium_bigger{
		padding: 5px;
		/*MHTN: Added for Mis datos page mobile view,margin for button, by Rahul.*/
		/*margin-top: -125px !important;*/
	}
	
	#alertMessageContainer_2{
		 margin-bottom: 20px;
	}
     
     #alertMessage_2{
     	font-size: 11px;
     }
     
     #caja-no-encontrado{
	    left: 0;
    	margin: 0;
    	top: 213.433px;	
    	width: auto;	
     }
     
     #alertMessageContainer_1{
     	padding: 0;
     }
     
     .caja-no-encontrado-texto, .alertMessage {
 	   font-size: 12px;
 	   width: 90%;
	 }
	 
	 #buttonRefreshMap{
	 	display: none !important;
	 }
	 
	 #autoSuggest_Result_div_forStreetField{
	 	z-index: 90;
	 }
	 
	 #buttonAceptarMap{
	    margin: 0 !important;
    	padding: 0 !important;
    	width: 100%;
	 }
	 
	 #novios_modal > form {
		    float: left;
		  	transform: scale(-1);
		  	-webkit-transform: scaleY(-1);
		}
		  
		  #novios_modal > form > div{
		  	transform: scale(-1);
		  	-webkit-transform: scaleY(-1);
		  }
	 
	 	  html body #NoviosContainer #novios_modal .section #novios_results_area .result_novios_responsive{
		   		overflow:hidden;
		   }
		   
		   html body #NoviosContainer #novios_modal .section #novios_results_area .result {
		   		padding: 5px 10px 5px 5px;
		   }
		   
		   .nombre-novios-responsive{
		   		font-weight: bold;
		    }
		    
		   
		   #novios_results_area .seleccionar {
		   		padding: 2px 4px;
		   		font-weight: bold;
		   		font-size: 12px;
		   }
		   
		   .result_label{
		   		margin: 10px 0 4px;
		   		font-size: 12px;
		   }
		   
		   #novios_results_area .result p {
		   		font-size: 12px;
		   }
		  
		  .error-responsive{
			    color: #FF0000;
			}
	
		
		.dijitTooltipRight {
    		padding-left: 0;
		}
	 
	 		#NuevaDireccionWidgetHidden{
              	height: 150% !important;
              }
.novios_2 {
	width:100%;
	text-align:left;
	float: right;
	margin: 4% 4% 0 0;
	display:block;
}

.novios_2 .texto {
	float:left;
	width:50%;
	}
	
.novios_2 span {
	float:right;
	width:53% !important;
	}
	.alertMessageContainer {
		 margin: 20px 0 30px;	 
	}
	
	/*START: CenReqNum#819 */
  	.mapcity{margin-bottom: 0px;margin-top: 0px;}
  	#NuevaDireccionContainer .content_footer {padding-top: 10px !important;}
  	/*END: CenReqNum#819 */
  	
  	.my_account .button-wrapper-radius {
    	margin-top: -125px !important;
	}

}

@media screen and (max-width: 320px) {
	.novios_2 span {
	    float: right;
	    width: 58% !important;
	}
}
/*TABLET HEREDADOS*/
  @media screen and (min-width: 641px) and (max-width: 970px) {
    html body {
      /* CSS footer Inline*/ }
      html body .logo_responsive {
        display: none; }
      html body .checkoutFooterZone1_cont {
        width: 100%;
        height: 50px;
        float: none;
        clear: both;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        border-top-width: 3px;
        border-bottom-width: 3px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-top-color: #EBF4FB;
        border-bottom-color: #EBF4FB; 
      }
      html body .checkoutFooterZone1_cont .footer_links {
        width: 80%;
        height: 20px;
        float: left;
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 12px;
        color: #666;
        text-align: left;
        padding-top: 15px; }
      html body .checkoutFooterZone1_cont .footer_links a {
        color: #666;
        text-decoration: none; }
      html body .checkoutFooterZone1_cont .footer_links a:hover {
        color: #666;
        text-decoration: underline; }
      html body .checkoutFooterZone1_cont .secure_seal {
        width: 20%;
        height: 35px;
        float: left; } 

      /*Agrega Radar */
      #mainHeader{
        width: 100%;
      }      
      
      #contenedor-alternativas{
        width: 0; 
      }      
      
      #content_wrapper{
        width: 100%;  
      } 



}

@media screen and (width: 768px){

  html body{
    overflow-x: visible !important;
    position: unset !important;
  }
  #content_wrapper{
       width: 100%;  
       overflow: visible !important;
   }
   
   .caja-alternativa-abajo{
   		padding: 0 !important;
   } 
   
   .caja-alternativa-abajo a, .caja-alternativa-abajo a:visited, .caja-alternativa-abajo a:hover{
   	   	padding: 0 !important;
   }
}


@media screen and (width: 800px){

  html body{
    overflow-x: visible !important;
    position: unset !important;
  }
  
  #content_wrapper{
       width: 100%;  
       overflow: visible !important;
   }
   
    .caja-alternativa-abajo{
   		padding: 0 !important;
   } 
   
   .caja-alternativa-abajo a, .caja-alternativa-abajo a:visited, .caja-alternativa-abajo a:hover{
   	   	padding: 0 !important;
   }
 
}


@media screen and (max-width: 320px) {
	.novios_2 span {
	    float: right;
	    width: 58% !important;
	}
	
	.title_only-type_delivery{
    	padding-left: 0 !important;
    }
}



/*MHTN: CLICK AND COLLECT - New style for Direcciones*/

#caja_superior {
  background-color: #EBF4FB;
  display: inline-block;
  margin-bottom: 5px;
  margin-top:10px;
  padding: 13px;
  width: 96%;
  }
  
  
#caja_superior .title img{
  display: block;
  float: left;
  margin-top:9px;
  }
  
#caja_superior .title span{
  font-weight: bold;
  font-size: 14px;
  color: #233A66;
  margin: 12px 0 0 10px;
  display: block;
  float: left;
  }
  
  
  
.caja_superior_abajo{
  background: none repeat scroll 0px 0px #09C;
    color: #FFF;
    display: inline-block;
    font-weight: bold;
    margin-top: 0px;
    max-width: 178px;
    padding: 12px 5px;
    text-align: center;
    width: 100%;
    float: right;
}

.caja_superior_arriba{
  display: block;
  float: left;
  margin-top: 12px;
  margin-left: 65px;
  }

.caja_superior_abajo a:link, .caja_superior_abajo a:visited {
    color: #FFF !important;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
}

#contenedor-alternativas .caja-alternativa .caja-alternativa-arriba {
    height: auto !important;
}

#contenedor-alternativas .caja-alternativa {
    height: auto !important;
}

#contenedor-alternativas .caja-alternativa .caja-alternativa-abajo {
    margin-top: 25px !important;
}


#contenedor-alternativas .caja-alternativa .caja-alternativa-arriba {
  margin-bottom: -15px !important;
  margin-top: 15px !important;
}

#contenedor-alternativas .caja-alternativa .caja-alternativa-arriba .logo_novios {
    margin: -27px 32% 25px;
}

/*MHTN: CLICK AND COLLECT - add new estyle title "Elige tu direccion" made by Miguel Penaloza*/
.title_only-type_delivery{
  position:relative; 
  top:  -28px; 
  left:137px
}
#span_shipping_header_SHIPPING_INFO_CHOOSING{
  height: 10px;
}


/*MHTN: CLICK AND COLLECT - style Mobile for select to address made by Miguel Penaloza */
@media screen and (max-width: 640px){

 .title_only-type_delivery{
    padding-left: 10px;
    padding-right: 10px;
 }

 #contenedor-alternativas  .caja-alternativa-arriba img{
    margin-bottom: 7px !important;  
    margin-top: -32px !important;
    float: left;
   	left: 57px;
   	position: relative;
   	top: 30px;
 }

  #caja_superior {
    text-align: center;
    width: 100%;
    background-color: #ebf4fb;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 13px;
  }

  #caja_superior .title {
    display: inline-block !important;
    margin: 0 auto !important;
  }

  .caja_superior_arriba {
    display: block;
    float: left;
    margin: 0 auto;
    width: 100%;
  }


  .caja_superior_abajo {
    margin: 15px 7% 5px;
    max-width: 90% !important;
    width: 87% !important;
  }
  .caja_superior_abajo {
    background: none repeat scroll 0 0 #09c;
    color: #fff;
    display: inline-block;
    float: right;
    font-weight: bold;
    max-width: 178px;
    padding: 12px 5px;
    text-align: center;
    width: 100%;
  }

  #contenedor-alternativas {
    height: auto !important;
  }
  #contenedor-alternativas .caja-alternativa {
    height: auto !important;
  }


  .dijitContentPane {
    float: left;
   /*margin-top: 13px !important;*/
   /*PROD REGRESSION ISSUE fix*/
	   margin-top: 20px !important;
   /*PROD REGRESSION ISSUE fix*/    
  }

  #span_shipping_header_SHIPPING_INFO_CHOOSING{

    background-color: #ebf4fb;
    display: inline-block;
    margin-bottom: -6px;
    margin-top: 10px;
    /*padding: 2px;
    text-align: center;*/
    width: 100%;
    height: 70px;   
  }


  .title_only-type_delivery {
    position: relative;
    top: -23px;
    left: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #span_shipping_header_SHIPPING_INFO_CHOOSING .shipping_header{
    display: block;
    position: relative;
    top: -12px;
  }

}
/*MHTN: CLICK AND COLLECT style for tablet  made by Miguel.Penaloza*/
@media screen and (min-width: 641px)  and (max-width: 991px) {
  #caja_superior {
    width: 132%;
  }
}  

/*Se agrega class para mensaje de cambio de direccion, Felipe Vidal*/
/* PAR-989 Start*/

.msj_cambio_dire {
    float: left;
    height: auto;
    width: 27%;
    font-size: 0.9em;
    margin-top: 2%;
}

.msj_cambio_dire strong{
	font-weight:bold !important;
}

.msj_cambio_dire img {
    width: 15%;
    float: left;
    margin: 10px 10px 5px 0px;
}
.Callesuggalign{position:absolute;} /*added for PAR-1060 */
@media screen and (min-width: 641px)  and (max-width: 960px) {
	
#contactReferenceArea {
    width: 40% !important;
}

.msj_cambio_dire {
    width: 28%;
}

.msj_cambio_dire img {
    margin: 5% 10px 5px 0px;
}
	
}

@media screen and (min-width: 768px)  and (max-width: 1024px){
.msj_cambio_dire {
    width: 229px;
}
}
/* PAR-989 End*/