@charset "utf-8";
html body .bx-wrapper .bx-prev {
  background: url("../images/newHomePage/slider/controls.png") no-repeat scroll 0 -32px rgba(0, 0, 0, 0);
  left: 10px; 
}
html body .bx-wrapper .bx-next {
  background: url("../images/newHomePage/slider/controls.png") no-repeat scroll -43px -32px rgba(0, 0, 0, 0);
  right: 10px; 
}
html body #main_content_wrapper .thumbScroller .scrollPanePrice div.epsot_offerPrice span.tarjeta_mas_img {
  background: url("../images/product/tarjeta_cencosud.jpg") 0px 0 no-repeat scroll transparent;/*updated for PAR-1020*/
  background-size: contain !important; 
}

html body .thumbScroller .bx-wrapper .bx-controls .bx-prev {
  background: white url("../images/colors/color1/accessories_images_arrow_left.png") no-repeat center center;
  left: -10px;
  z-index: 2;
  height: 325px;/*MHTN DEFECT- 350*/
  top: 0; 
}
html body .thumbScroller .bx-wrapper .bx-controls .bx-next {
  background: white url("../images/colors/color1/accessories_images_arrow_right.png") no-repeat center center;
  right: -10px;
  z-index: 2;
  height: 325px;/*MHTN DEFECT- 350*/
  top: 0;
  /* added to fix carausel home page issue  Intelligent Offer */
  width: 56px;
  /*Fixes diseño*/
  /*left: 275px;*/
  left: 300px;
  /* added to fix carausel home page issue  Intelligent Offer */
}

#homepage_slider6 {padding-top: 0px;}

/* Start:- added to fix carausel home page issue  Intelligent Offer */

@media screen and (width: 360px) {
html body .thumbScroller .bx-wrapper .bx-controls .bx-next {
left: 315px;
}
}

@media screen and (width: 480px) {
html body .thumbScroller .bx-wrapper .bx-controls .bx-next {
left: 432px;
}
}

@media screen and (width: 568px) {
html body .thumbScroller .bx-wrapper .bx-controls .bx-next {
left: 523px;
}
}

@media screen and (width: 640px) {
html body .thumbScroller .bx-wrapper .bx-controls .bx-next {
left: 597px;
}
}

/*End:- added to fix carausel home page issue  Intelligent Offer */

@media screen and (max-width: 640px) {

/** 1084 Css Sprite **/
#main_content_wrapper .thumbScroller .scrollPanePrice div.sub-price.precio_internet{font-size: 11px !important;}

	.thumbOuter {
	  border: 0 none;
	  height: 100%;
	  margin: 0 0%;
	  padding: 10px 0 25px;
	  position: relative;
	  width: 100% !important;
	  float:left;
	}

  /*MHTN Defect 488*/
    /*MHTN Defect 597 change value 34px for 31px*/
  .miniarrow{
    left: 31px !important;
  }
  
  #HomePage5Ads{padding-bottom: 20px;}
  
  #homepage_slider6 {padding-top: 20px;}

  /*MHTN Defect 597 add style for spot*/
  .home_espot_slider .imgContainer, .home_espot_slider .thumbScroller{
     height: 310px !important;
  }

  /*Ajusto espacio blanco footer 
  #footer {
    margin: -25px auto !important;
  }*/


	html body .navPrev {
	  display: none; 
	}
	html body .navNext {
	  display: none; 
	}

  html body .no-mobile, html body #HomePage2Ads {
    display: none; }
  html body a.btn-up {
    display: none; }
  html body a.btn-up {
    display: none; }
  html body #cm-tag-output {
    display: none; }
  html body .slide {
    margin-top: 65px; }
  html body .slide .bx-wrapper .bx-viewport {
    height: auto !important; }
  html body .slide .bx-wrapper img {
    width: 100%; }
  html body .slide .bx-wrapper {
    margin-bottom: 0; }
  html body #Contenedor {
    overflow-y: hidden; }
  html body .home_espot_slider {
    width: 100%;
    height: auto; }
    html body .home_espot_slider img {
      width: 100%; }
  html body #calugas {
    width: 100%;
    height: auto;
    padding: 0 2%; }
    html body #calugas img {
      width: 100%; }
  html body .calugas-chicas {
    width: 96.5%%;
    height: auto; }
    html body .calugas-chicas img {
      width: 100%; }
  html body #calugas-a {
    width: 47%;
    height: auto; }
    html body #calugas-a img {
      width: 100%; }
  html body #calugas-b {
    width: 53%;
    height: auto; }
    html body #calugas-b img {
      width: 100%; }
  html body #caluga-tarjetas {
    width: 100%; }
    html body #caluga-tarjetas img {
      width: 100%; }
  html body #caluga-larga-mobile {
    width: 100%;
    margin-top: 10px;
    padding: 0 2%; }
    html body #caluga-larga-mobile a img {
      width: 100%; }
  html body #ver-mas-calugas.hiddenRecomendados {
    width: 100%;
    overflow: hidden;
    height: 0;
    padding: 0 2%;
    margin-top: 7px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    html body #ver-mas-calugas.hiddenRecomendados .calugas-chicas {
      width: 50%;
      height: auto;
      margin: 0; 
    	display: inline-block;
    	float: none; 
     }
      html body #ver-mas-calugas.hiddenRecomendados .calugas-chicas img {
        width: 100%;
        height: 90%; }
  html body #ver-mas-calugas.hiddenRecomendados.abierto {
    height: auto;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  html body #huincha1, html body #huinchaliquidacion, html body .carruseles {
    display: none; }
  html body #HomePage4ProductosDestacados {
    width: 100% !important;
    overflow: hidden; }
  html body #HomePage6ProductosNuevo {
    width: 100% !important;
    overflow: hidden; }
  /* Intelligent Offer Begin*/
  #HomePage6ProductosNuevo .thumbOuter {height: 100%; width: 100%!important;}
  /* Intelligent Offer End*/
    
  html body .home_espot_slider .thumbScroller {
    width: 100% !important; }
  html body .vermas.promociones {
    width: 96%;
    color: #333; } 
    #autoSuggest_Container{
      position:relative;
      z-index:9;
    }
    .OpenAutoSugest{
      position:absolute;
      right:3%;
      top:4%;
      float: right;
      width: 50px;
    }
   html body  .autoSuggestBox .autoSuggest_wrapper{
      width:100%;
      top:7px;
      left:0;
      overflow-y: auto;
      overflow-x: hidden; 
    }
    html body .autoSuggestBox .autoSuggest_content{
      width:100%;
    }
    html body .autoSuggestBox .autoSuggest_content .results{
      width:100%;
    }
    html body .autoSuggestBox .autoSuggest_content a{
      font-size:12px;
      padding:10px;
    }
    html body .autoSuggestBox .autoSuggest_content .view_all_results{
        padding:15px 0;
    }
    html body .autoSuggestBox .autoSuggest_content .heading{
      padding:10px;
    }
	
  .home_espot_slider .imgContainer {
  	/* 1084 Css sprite */
  	width: 130px !important;
	margin: 0 5px 0 0px; 
	padding: 0px 6px;
	
	/*width: 124px !important;
  MHTN Defect 597 
	margin: -5 0 0 9px;*/  
  }
  
  .home_espot_slider .scrollPaneDescription {
    /*width: 124px !important;*/
    /** 1084 css sprite **/
    width: 100% !important;
    margin : 0 auto;
    padding: 0 10px;
    /*width: 95% !important;
    margin : 0 auto;*/
   }
   
   .footer_resp_contacto {
   	 padding-bottom: 13% !important;
   	 padding-top: 0% !important;
   }

  
  .home_espot_slider h3.product_recommendation{
    padding-left: 2% !important;
    border: none;
  }
  
  #caluga-tarjetas{
  	height: 100% !important;
  }
  
  html body .bx-wrapper .bx-next, html body .bx-wrapper .bx-prev{
    transition:none;
  }
  
  #HomePage3Ads{
  	margin-top: 6px;
  }
  
  #HomePage4ProductosDestacados .bx-wrapper, #HomePage6ProductosNuevo .bx-wrapper{
  /*Fixes diseño*/
  	/*max-width: 89% !important;*/
  	max-width: 79% !important;
	/* added to fix carausel home page issue Intelligent Offer  */
    margin-left: 5px; 
	/* added to fix carausel home page issue Intelligent Offer  */
  }
  
  .scrollPanePrice{
  	height: auto !important;
  }
  
  .promo_text{
  	height: auto;
  }
  
  #HomePage6ProductosNuevo, #HomePage4ProductosDestacados{
  	height: 300px !important;
  }
  
  .thumbsNode .scrollPaneDescription{
  	height: 80px;
  }
  
    /*MHTN: CLICK AND COLLECT - mobile style for or */
    .icons_calc img:first-child {
      /*height: 26px !important;*/
      margin-right: 8px;
    }

    .icons_calc{
      /*left: 22px; - MHTN DEFECT- 350*/
      position: relative;
    }
    .texto_calc {
      font-size: 9px;
      width: 96% !important;/** 1084 css sprite **/
      margin-bottom: 4px;
      margin-top: 10%;
    }
    #HomePage6ProductosNuevo, #HomePage4ProductosDestacados {
      height: 340px !important;
    }

    .icono_tooltip .minitooltip{
      left: -21px !important;
      display: none;
  	top: -52px !important;/*MHTN DEFECT -350*/
  	background: none repeat scroll 0% 0% #09C;
  	/*MHTM: Click and Collect - fixed problem tooltips in home*/
     /*MHTN Defect 597 change value 10px for 9px */
  	font-size: 9px !important;
  	line-height: 15px;
    /*MHTN Defect 597  change value 5px for 3px*/
  	padding: 3px 8px;
  	border-radius: 10px;
  	position: absolute;
    /*MHTN Defect 597 change value 76px for width 65px with importan */
  	width: 65px !important;
  	border: 2px solid #09C;
    }


    #tipos_de_entrega_home {
      /*MHTN Defect 597 change value 218px for 224px*/
      margin-top: 224px !important;
      position: absolute !important;
    }
    
    /*MHTN DEFECT -350*/
	#tipos_de_entrega_home .camion_ya_esta .minitooltip{
		left : 0px !important;
		top: -52px;
	}
	#tipos_de_entrega_home .camion_ya_esta .miniarrow{
		left : 16px !important;
	}
	/*MHTN DEFECT -350*/
}
	

  
@media only screen and (min-width: 767px) and (max-width: 979px){

	html body .navPrev {
	  display: none; 
	}
	html body .navNext {
	  display: none; 
	}

  	html body #headerZone1 {
		display: block !important; 
	} 
	
	html body .home_espot_slider .thumbScroller {
    	width: 100% !important;
	}
	
	html body #HomePage4ProductosDestacados {
    	width: 100% !important;
    	/*overflow: hidden; -- MHTN - IPAD UI issue*/ 
    }
  	html body #HomePage6ProductosNuevo {
    	width: 98% !important;
    	/*overflow: hidden; MHTN - IPAD UI issue*/ 
    }
    html body .home_espot_slider {
    	width: 100%;
    	height: auto; 
    }
	
	
}

@media only screen and (min-width: 641px) and (max-width: 979px){

     /*Ajuste para textos Promocionales*/
  
    .promo_text {
        height: 17px !important;
    }
    #huincha1{
         padding-top: 2% !important;
         margin-top: -8px !important;
    }
   
    /*Ajuste El banner de tarjeta Cencosud */	
    html body #caluga-tarjetas img {
        width: 98%; 
    }
}

@media only screen and (min-width: 641px) and (max-width: 800px){
  #caluga-tarjetas {
     width: 98.7% !important;
     
  }
}  


/* MHNT: CLICK AND COLLECT - icon for home page*/
.cont_traking{
   top: 17px;
}
.home_espot_slider .imgContainer, .home_espot_slider .thumbScroller {
    height: 300px;
}

#tipos_de_entrega_home {
  display: block;
  float:left;
  margin-top:25px;
  width: 100%;
  height:32px;
  }
  
#tipos_de_entrega_home .texto {
  font-size:11px;
  color:#999999;
  float:left
  }

#tipos_de_entrega_home .icons {
  float:left;
  margin-left: 15px;
  }
  
#tipos_de_entrega_home .icons_separador {
  width: 2px;
  border-left: 1px solid #CCC;
  height: 20px;
  display: block;
  float: left;
  margin: 6px 6px 0px 10px;
  }

  /* Tooltip */
.icono_tooltip{
  text-align:center;
  color:#FFF;
  cursor: pointer;
  position: relative;
  display: inline-block;
  float: left;
}

.icono_tooltip img{
  width: 32px !important;
  height: 32px  !important;
}

@media only screen and (min-width: 641px) and (max-width: 979px){

.icono_tooltip .minitooltip{
  display: none;
  top: -46px;
  background: none repeat scroll 0% 0% #09C;
  /*MHTM: Click and Collect - fixed problem tooltips in home*/
  font-size: 10px;
  line-height: 15px;
  padding: 5px 8px;
  left: -36px;
  border-radius: 10px;
  position: absolute;
  width: 76px;
  border: 2px solid #09C;
 }

}

.icono_tooltip .minitooltip{
  display: none;
  top: -53px;
  background: none repeat scroll 0% 0% #09C;
  /*MHTM: Click and Collect - fixed problem tooltips in home*/
  font-size: 10px;
  line-height: 15px;
  padding: 5px 8px;
  /*MHTN Defect 597 change value -23px for -20px*/
  left: -20px;
  border-radius: 10px;
  position: absolute;
  /*MHTN Defect 597  change value 51px for 47px*/
  width: 47px;
  border: 2px solid #09C;
}


/*MHTN Defect 488*/
.miniarrow{
  /*MHTN Defect 597 change value 49px for 46px*/
  left: 46px;
}

.active .minitooltip{
  display: block !important;
}

.texto_calc {
  float: left;  
  font-size: 11px;
  color: rgba(102, 102, 102, 0.76);
  line-height: 13px;
  /*MHTN Defect 597 change value 47% for 44%*/
  width: 44%;
}

/*MHTN - UI DEFECTS*/
@media only screen and (max-width: 320px){
  #HomePage4ProductosDestacados .bx-wrapper, #HomePage6ProductosNuevo .bx-wrapper{  	
  	max-width: 95% !important;
  }
  /*Fixes diseño*/	
  html body .thumbScroller .bx-wrapper .bx-controls .bx-next{
  left: 275px !important;
  }
} 
 
@media only screen and (min-width: 420px) and (max-width: 480px){
  #HomePage4ProductosDestacados .bx-wrapper, #HomePage6ProductosNuevo .bx-wrapper{  	
  	/*Fixes diseño
  	max-width: 93% !important;*/
  	max-width: 76% !important;
  	
  }
}

@media screen and (min-width: 641px)  and (max-width: 991px) {
.miniarrow {
  		position: absolute;
  		background: #09c;
  		top: 100%;
  		left: 48%;
}

.miniarrow:after, .miniarrow:before {
 		top: 100%;
 		left: 50%;
 		border: solid transparent;
 		content: " ";
 		height: 0;
 		width: 0;
 		position: absolute;
 		pointer-events: none;
}

.miniarrow:after {
   	border-color: #09C rgba(0, 153, 204, 0) rgba(0, 153, 204, 0);
   	border-width: 11px;
   	margin-left: -8px;
}
.miniarrow:before {
   	border-color: #1AD rgba(17, 170, 221, 0) rgba(17, 170, 221, 0);
   	border-width: 11px;
   	margin-left: -8px;
}

.icono_tooltip .minitooltip{	
	width : 67px;
	font-size: 9px;/*MHTN DEFECT - 1716*/
}
.texto_calc {
	width: 45%;/*MHTN DEFECT - 1716*/
}
}
/*MHTN : Tablet landscape*/
@media screen and (min-width: 1024px) and (max-width: 1280px) {
.icono_tooltip .minitooltip{		
	font-size: 9px;/*MHTN DEFECT - 1716*/
}
.texto_calc {
	width: 45%;/*MHTN DEFECT - 1716*/	
}
#tipos_de_entrega_home .icons_separador{
	margin-left: 8px;
	margin-right: 0px;
}
}
/*Fixes deseno*/
@media screen and (max-width: 640px) and (orientation: landscape){
#HomePage4ProductosDestacados .bx-wrapper, #HomePage6ProductosNuevo .bx-wrapper {
    max-width: 95% !important;
}

/** css sprite */
.thumbsNode{ margin-left: 18px; }
}

@media screen and (min-width: 320px) and (max-width: 570px)  and (orientation: landscape) {
#HomePage4ProductosDestacados .bx-wrapper, #HomePage6ProductosNuevo .bx-wrapper{
/** css sprites **/
max-width: 95% !important;
}


}
/*MHTN - UI DEFECTS*/ 